<div class="container-fluid">
  <div class="row">
    <table class="col-6 offset-3 w-50 mt-5 table table-striped text-center">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Age</th>
          </tr>
      </thead>
      <tbody>
            <tr *ngFor="let user of DataFromregister; index as i">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
            </tr>
      </tbody>
    </table>
  </div>
</div>


