<footer class="text-center text-white p-1 mt-5">

  <!-- Section: Links  -->
  <section>
    <!-- Container -->
    <div class="container text-center pt-1 px-4">
      <!-- Main row -->
      <div class="row mt-3">

        <!-- First Row -->
        <div class="row">
          <div class="mx-auto mb-4">
            <h6 class="text-uppercase fw-bold text-white">Angular</h6>
            <hr class="mb-4 mt-0 mx-auto"/>
            <p class="text-white">
              Hello, I'm <span class="fw-bold">Shehab</span> A Full-Stack Developer based in Egypt I'm doing this assignment for ITI to learn Angular's router :)
            </p>
          </div>
        </div>
        <!-- First Row -->

        <!-- Second Row -->
        <div class="row">

          <div class="col-md-4 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold text-white">Contact</h6>
            <hr class="mb-4 mt-0 mx-auto"/>
            <a href="https://www.facebook.com/Shehab.AbdelGawwad" target="_blank" class="text-white text-decoration-none"><i class="fa-brands fa-facebook fa-lg me-2"></i> Facebook</a>
            <a href="https://www.linkedin.com/in/shehabhossam/" target="_blank" class="text-white text-decoration-none ms-4"><i class="fa-brands fa-linkedin fa-lg me-2"></i> LinkedIn</a>
          </div>

        </div>
        <!-- Second Row -->
      </div>

    </div>

  </section>


  <!-- Copyright -->
  <div class="text-center p-3 Copyright">
    Copyright © 2023 All rights reserved.
  </div>
  <!-- Copyright -->
</footer>
