<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid row">
      <ul class="navbar-nav col-6 offset-3 fw-bold d-flex justify-content-between">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/students">Student</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/studentDetails/1">Details</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/lijfaf">Error</a></li>
      </ul>
  </div>
</nav>
